@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'DEC Terminal Modern';
	src: url('DECTerminalModern.eot');
    src: url('_decterm.ttf') format('truetype'),
		url('../fonts/_decterm.woff') format('woff'),
		url('../fonts/_decterm.woff2') format('woff2'),
		url('../fonts/DECTerminalModern.eot') format('embedded-opentype'),
        url('../fonts/DECTerminalModern.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'DEC Terminal Modern', sans-serif;
	background-color:#080617;
	color:#94A9F0;
	line-height: 2;
	font-size: 20px;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


h1 {
	margin-top: 60px;
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 30px;
	
	background: linear-gradient(
        to right,
        #ffe6ee 20%,
        #CCCCFF 40%,
        #0190cd 70%,
        #4b0082 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

h2 {
	font-size: 30px;
}

a {
	color:#616DD7;
	background-color: transparent;
}

a:hover {
	color:white;
}

.star-link {
	width: 150%;
	height: 150%;
	background-image: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-image 0.5s ease-in-out;
	text-align: center;
}

.star-link:hover {
	background-image: url(imgs/star.png);
}


li {
	font-size: 18px;
	line-height: [heightofbox];
	margin-top: auto;
	display: block;
}

p {
	font-size: 1.1em;
}

.wrapper {
  max-width: 80vw;
  margin: auto;
}

.img-of-self {
	width: 25vw;
	height: 45vh;
}

.flex-container {
	display: flex;
	justify-content: space-around;
	align-content: center;
	max-width: 80%;
	margin: auto;
}

.gap {
	padding: 1.5vh 0;
	margin-left: 1vw;
}

.link-special:hover {
	background-image: url(imgs/glitter.gif);
	background-clip: text;
}

/* Header Navigation */
header {
  background-color:#2D29A0;
  width: 100%;
  position: sticky;
  top: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

header nav li {
	margin: 0 3vw;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

header nav img {
  height: 10vh;
  padding-left: 30px;
}

.scroll {
	background-color: #171444;
	width: 90%;
	height: 400px;
	overflow: auto;
}

#map {
	width: 900px;
	height: 500px;
	border: solid #bababa 1px;
}

#map-legend{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1000;
	margin-bottom: 10px;
	margin-left: 10px;
	border-radius: 3px;
	padding: 5px 10px;
	box-shadow: 0 0 0 2px rgb(0 0 0 / 20%);
	background: #FFFFFF;
	width: 120px;
	height: 100px;
}

#map-legend p{
	font-family: "roca", serif;
	font-size: 1rem;
	font-weight: 100;
}
#map-legend p, i{
	display: inline;
	line-height: 2.0;
}
#map-legend i{
	font-size:20px;
	color: #7A4C4C;
/*	display: inline;*/
}

#map-legend h4{
	font-family: "roca", serif;
	color: #7A4C4C;
	font-size: 1.5rem;
/*	line-height: 0.1;*/
	text-align: center;
	margin: 0.2px 0px 0px 0px;
}

#map-legend hr{
	height: 1px;
	margin:0.2px 0px 0.7px 0px;
}
